@model IEnumerable<MinecraftCIAC.Models.Evolution>
@{
    ViewBag.Title = "First Evolution";
}


<div>
    @Html.ActionLink("Publish", "Publish", new { }, new { @class = "btn btn-primary", @style = "color:white" }) 
    @Html.ActionLink("Return to main page", "Return", new { }, new { @class = "btn btn-primary", @style = "color:white" })
</div>

@*Poppulation list*@


<h3>Candidates</h3>
<table class="table-striped">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tr>

            @*<td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>*@
            <td>
                <video width="320" height="240" src="~/Results/Users/@item.DirectoryPath" controls autoplay />
            </td>
            <td>
                @Html.ActionLink("Evolve small", "Evolve", new { id = item.ID, fitness = 1 }, new { onclick = "javascript:showLoading();", @class = "btn btn-primary", @style = "color:white" })
            </td>
            <td>
                @Html.ActionLink("Evolve big", "Evolve", new { id = item.ID, fitness = 2 }, new { onclick = "javascript:showLoading();", @class = "btn btn-primary", @style = "color:white" })
            </td>
            <td>
                @Html.ActionLink("Perform novelty search", "Evolve", new { id = item.ID, fitness = -1 }, new { onclick = "javascript:showLoading();", @class = "btn btn-primary", @style = "color:white" })
            </td>
        </tr>
    }

