@model IEnumerable<MinecraftCIAC.Models.Evolution>
@{
    ViewBag.Title = "Start Evolution";
}

<div>
    @Html.ActionLink("Start new evolution", "Evolve", new { }, new { onclick = "javascript:showLoading();", @class = "btn btn-primary", @style = "color:white" })
</div>

@*<div>
    @Html.ActionLink("Test", "Test", new { }, new { onclick = "javascript:showLoading();", @class = "btn btn-primary", @style = "color:white" })
</div>*@

<table class="table-striped">
    @*<tr>
        @if (Model.Count() > 0)
        {

            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            
        }
    </tr>*@
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <video width="320" height="240" src="~/EvolutionDB/Candidates/@item.ParentVideoPath" controls autoplay />
        </td>
        <td>
            @Html.ActionLink("Continue", "Continue", new { filesLocation = item.DirectoryPath, oldUsername = item.Username, sequence = item.Sequence }, new { @class = "btn btn-primary", @style = "color:white" })
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary", @style = "color:white" })
        </td>
    </tr>
    }




